{% extends "_base.html" %}

{% block content %}
  <div class="p-1 m-3 bg-light">
      <p class="float-right"><a href={% url 'logout' %}><i class="fa fa-sign-out"></i></a></p>
      <h1>
          {{ odooUsers.email }}
      </h1>
  </div>
    <h1>Bienvenue sur Realtor-Client</h1>
    {% for apart in apartments %}
        <div class="card bg-primary m-2 p-1 rounded-lg" style="width:300px">
            <div class="card-title">
                {{ apart.name }} {{ apart.name }}
            </div>
            
            <div class="card-footer">
                <a class="btn btn-outline-light">Détails</a>
            </div>
        </div>
    {% endfor %}
{% include '_create_client_modal.html' %}
{% endblock content%}