{% extends "_base.html" %}

{% block content %}
    <h1>Bienvenue sur Realtor-Client</h1>
    <div class="d-flex p-2">
    {% for apart in apartments %}
        <div class="card bg-primary m-2 p-1 rounded-lg" style="width:300px">
            <div class="card-header">
                <img class="img-thumbnail" src="data:image/jpg;base64,{{apart.image}}"> <br> Name : {{ apart.name }}
            </div>
            <div class="card-body">
                availability : {{ apart.availability }}<br> description : {{ apart.description }} <br>
                price : {{ apart.price }}<br> apartment surface : {{ apart.apartment_surface }}<br> terrace surface : {{ apart.terrace_surface }} 
                <br> total surface : {{ apart.total_surface }} <br>best offerer : {{ apart.best_offerer }} <br>best price offer : {{ apart.best_price_offer }}
                <br> Quantity : {{ apart.qty_available }} 
            </div>
            <div class="input-group mb-3">
                <form action={% url 'apartment:offer' %} method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                          <input name="offerer" type="text" class="form-control" placeholder="offerer" required>
                        </div>
                        <div class="col-5">
                          <input name="amount" type="number" class="form-control" placeholder="amount" required>
                        </div>
                        <div class="col">
                            <input type="hidden" name="connected" value="True">
                            <input type="hidden" name="apartment" value={{ apart.id }}>
                            <input type="hidden" name="best_offer" value={{ apart.best_price_offer }}>
                            <button class="btn btn-secondary" type="submit">offer</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
    <div >
        <h3 class="text-danger">{{error}}</h3>
    </div>
{% endblock content%}